body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

nav {
  margin: auto;
  font-family: 'Oswald', sans-serif;
}

input {
  display: none;
  margin: 0;
  padding: 0;
}

label {
  margin: auto 20px;
}

form {

}

input {
  display: block;
  margin: 10px auto;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

textarea {
  display: block;
  margin: 10px auto;
  border-style: solid;
  padding: 10px;
  border-color: black;
}

/********************Class********************/

.wrapper {
  overflow-x: hidden
}

#nav-container-box {
  /*box-shadow: 0 0 3px black;*/
	width: 100%;
	margin: 0;
  z-index: 3;
  position: fixed;
  transition: 0.5s;
}

.nav-bg-scroll {
  background-color: white;
  box-shadow: 0 0 3px black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

.inside-nav-container {
  display: flex;
  align-items: center;
}

.burger {
	display: none;
	cursor: pointer;
	margin: auto 10px auto 0;
}

.line {
	width: 20px;
	height: 2px;
	background-color: white;
	margin: 5px;
}

.burger-scroll {
  background-color: black;
}

.burger-exit {
  display: none;
  position: absolute;
  top: 18px;
  left: 19px;
	cursor: pointer;
	margin: auto 10px auto 0;
  z-index: 2;
}

.x-line-1 {
  width: 31px;
	height: 2px;
	background-color: white;
	margin-bottom: 20px;
  transform: rotate(45deg);
  transform-origin: 0%;
}

.x-line-2 {
  width: 31px;
	height: 2px;
	background-color: white;
	margin-top: 0;
  transform: rotate(-45deg);
  transform-origin: 0%;
}

.logo-image {
  vertical-align: baseline;
  width: 100px;
  height: auto;
  margin: 10px 10px 5px 0;
  transition: 0.5s;
}

.logo-image-scroll {
  width: 75px;
}

.nav-ul-list {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 1.5px;
}

.active {
  font-weight: bold;
}

.ind-nav-link {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;

 }

 .nav-text-scroll {
   color: black;
 }

.ind-nav-link:hover {
  opacity: 0.75;
  text-decoration: none;
  color: whitesmoke;
}

 .social-links {
  display: flex;
 }

 .social-link-ind {
   width: 25px;
   height: 25px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 5px;
   margin-right: 5px;
 }

.header-section {
  height: 100vh;
  color: white;
  background-image: url('images/bg-header.png');
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-section img {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.parallax--bg {

}

.header-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 500px;
  margin-left: 20%;
}

.header-section-info h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3.5em;
}

.header-section-info h3 {
  display: inline-block;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.middle-section {
  background-color: white;
  height: auto;
  max-width: 1250px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 35px;
}

.middle-section h1, .middle-section h3 {
  color: #484848;
}

.title-line {
  background-color: #484848;
  height: 5px;
  width: 200px;
  margin-bottom: 50px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0% 0 0%;
}

.service-image-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.s-image {
  width: 45%;
  height: auto;
  margin: 15px;
}

.s-descript {
  width: auto;
  margin: 15px;
}

.s-descript h3 {
  text-align: left;
}

.s-descript p {
  margin-bottom: 0.5rem;
}

.s1-des {
  opacity: 0;
  transform: translateX(50%);
  transition: 750ms;
  margin-right: 0;
}

.s1-img {
  opacity: 0;
  transform: translateX(-50%);
  transition: 750ms;
  margin-left: 0;
}

.s2-des {
  opacity: 0;
  transform: translateX(-50%);
  transition: 750ms;
  margin-left: 0;
}

.s2-img {
  opacity: 0;
  transform: translateX(50%);
  transition: 750ms;
  margin-right: 0;
}

.s3-des {
  opacity: 0;
  transform: translateX(50%);
  transition: 750ms;
  margin-right: 0;
}

.s3-img {
  opacity: 0;
  transform: translateX(-50%);
  transition: 750ms;
  margin-left: 0;
}

.s123-scroll {
  opacity: 1;
  transform: translateX(0%);
}

.services-dropdown-one {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  margin: 10px auto 0 auto;
  padding: 15px;
  transform: translateX(-100%);
  opacity: 0;
  transition: 750ms;
}

.services-dropdown-two {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  margin: 10px auto 0 auto;
  padding: 15px;
  transform: translateX(-100%);
  opacity: 0;
  transition: 750ms;
}

.services-dropdown-three {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  margin: 10px auto 0 auto;
  padding: 15px;
  transform: translateX(-100%);
  opacity: 0;
  transition: 750ms;
}

.services-dropdown-active {
  display: flex;
  transform: translateX(0);
  opacity: 1;
}

.extended-descript ul {

}

.s1-popup-bg {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-color: black;
  opacity: 0.5;
	z-index: 3;
}

.s1-popup-bg-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1-popup-container {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
  height: 100vh;
  width: 100%;
  z-index: 6;
}

.s1-popup-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1-popup-box {
  display: flex;
  background-color: white;
  height: 300px;
  width: 500px;
  border: solid;
  border-width: 3px;
}

.bottom-section {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
}

.portfolio-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  color: #484848;
}

.portfolio-heading p {
  margin: 10px;
}

.grid-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 1250px;
  padding-left: 35px;
  padding-right: 35px;
  margin: auto;
  width: 100%;
  height: 850px;
}

.grid-portfolio-item {
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 750ms;

}

.grid-portfolio-item-scroll {
  opacity: 1;
}

.one {
  background-image: url('images/IMG_8417.JPG');
}

.two {
  background-image: url('images/IMG_8421.JPG');
}

.three {
  background-image: url('images/IMG_8425.JPG');
}

.four {
  background-image: url('images/IMG_8420.JPG');
}

.five {
  background-image: url('images/IMG_8428.JPG');
}

.six {
  background-image: url('images/IMG_8418.JPG');
}

.seven {
  background-image: url('images/IMG_8430.JPG');
}

.eight {
  background-image: url('images/IMG_8434.JPG');
}

.nine {
  background-image: url('images/IMG_8431.JPG');
}

.client-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.client-logos {
  margin: auto;
  max-width: 1250px;
  padding-left: 35px;
  padding-right: 35px;
}

.client-logos img {
  height: 100%;
  width: 100%;
}

.lower-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  height: auto;
  margin: auto;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.lower-bottom-section p {
  margin: 10px;
}

.lower-bottom-section h1, .lower-bottom-section h3 {
  color: #484848;
}

.cf-two {
  display: none;
}

.footer-section {
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.social-media-icon {
  height: 40px;
  width: 40px;
  margin: 5px 5px 5px 5px;
}

.social-link-ind-f {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

/********************ID********************/
/********************Media****************/

@media (max-width: 1250px) {

}

@media (max-width: 1000px) {

  .header-section-info {

  }

  .title-line {
    background-color: #484848;
    height: 5px;
    width: 150px;
    margin-bottom: 25px;
  }

  .social-media-icon {
    margin: 5px 3px 5px 3px;
  }

  .grid-portfolio {
    height: 600px;
  }

  .portfolio-heading {
    width: 85%;
  }

  .s-descript h3 {
    font-size: 1.5em;
  }

  .s-descript p {
    font-size: 0.8em;
  }
}

@media (max-width: 700px) {

.nav-container {
  padding-left: 15px;
  padding-right: 15px;
}

.burger {
	display: block;
}

.line {
}

.line-scroll {
    background-color: whitesmoke;
}

.burger-exit {

}

.logo-image {
  width: 50px;
  margin: 5px 5px 0 0;
}

.nav-ul-list {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-color: black;
  opacity: 0.9;
	z-index: 1;
	/*transform: translateX(100%);*/
	}

.nav-item {
	padding: 5px 0 5px 0;
	text-align: center;
  letter-spacing: 3px;
}

.ind-nav-link {
  font-size: 2em;
}

.ind-nav-link-scroll {
  color: whitesmoke;
}

.nav-active {
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.active-exit-burger {
  display: block;
  z-index: 2;
}

.nav-line-avtive {
  opacity: 0;
}

.social-link-ind {
  width: 20px;
  height: 20px;
}

.header-section {
  background-image: url('images/bg-ryan-glamour-full.png');
  background-position: top;
  background-size: cover;
}

.header-section img {
  display: none;
}

.header-section-info {
  align-items: center;
  height: 100%;
  margin: auto;
  padding-top: 100px;
}

.middle-section {
padding-left: 15px;
padding-right: 15px;
}

.service-image-div {
  flex-direction: column;
}

.s-image {
  width: 100%;
  margin: 0;
}

.s-descript {
  width: 100%;
  margin: 10px 0 0 0;
}

.s-descript h3 {
  text-align: center;
}

.s-descript p {
  text-align: center;
}

.sid-2 {
  flex-direction: column-reverse;
}

.service-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-buttons a, button {
  margin-left: 5px;
  margin-right: 5px;
}

  .btn {
    font-size: 0.8em;
  }

  .cf-one {
    display: none;
  }

  .cf-two {
    display: block;
  }

  .grid-portfolio {
    height: 450px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .client-logos {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 475px) {

  .nav-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .middle-section {
  padding-left: 10px;
  padding-right: 10px;
  }

  .s-image {
    width: 100%;
  }

  .s-descript {
    width: 100%;
  }

  .client-logos {
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-portfolio {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

}
